<div id="intro" class="card hoverable">
                <div class="card-title" id="salutation">
                    <h4 class="center-align">Hey, I'm Ashutosh Dwivedi!</h4>
                </div>
                <p class="center card-content">
                    I am a B.tech III year <strong>Computer science student</strong> at <strong>
                    Galgotia college of Engineering and Technology Greater Noida.</strong>I have <strong style="font-weight: 700">Developed this application</strong> to provide a platform to the students so that they can share their handwritten notes. <strong style="font-weight: 700"> During semester and sessional exam's time everyone of us feels difficulty to collect the notes. </strong>So I thought there
                    should be a platform for students to share their handwritten notes.
                    I believe in:-
               <h4 class="align-center" style="font-weight:bold; text-align:center;"> <i class="fa fa-quote-left"></i>
                The more you share, the more you have.
                <i class="fa fa-quote-right"></i></h4>
                <br>
                <br>
                </p> 
                 <div class="card-title" id="salutation">
                    <h4 class="center-align">Meet me Here :)</h4>
                   <div class="center-align">
                       <ul>
                                    <li><a class=" text-lighten-3" href="https://www.ashutoshdwivedi.in" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i>My website</a>
                                    </li>
                                    <li>
                                    <a class=" text-lighten-3" href="https://www.linkedin.com/in/ashutosh1001/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>   Linkedin</a>
                                </li>
                                <li><a class=" text-lighten-3" href="https://github.com/kindacoder" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i> Github</a>
                                </li>
     
     
                                <li><a class=" text-lighten-3" href="https://www.facebook.com/ashutosh.dwivedid" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i>  Facebook</a>
                                </li>
     
                                  </ul>

                   </div>
                     
                </div>            

</div>
