<div class="center-align">
    <h1>Welcome</h1>
<h4>Welcome to Svnotes Website</h4>
<h5>SvNotes: A plateform where students share their Handwritten class notes.<br>
We believe in "The more you share,the more you have" theory</h5>
<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i>Login with Google</a>
</div>


